<%- include('header') %>
  <br><br>
  <div class="container mt-3">
    <h2 style="text-align: center;">Formulário de Aluguel</h2>
    <h6 style="text-align: center; color: red;">SE A DATA DE ENTREGA DO LIVRO ULTRAPASSAR DE 7 DIAS E NÃO FOR RENOVADO,
      SERÁ GERADA UMA MULTA DE R$ 1.00 POR DIA. </h6>
    <br>
<<<<<<< HEAD
    <form action="/cadastro" method="post" class="was-validated" name="form" id="form">


=======

    <form action="/cadastro" method="post" class="was-validated">
      <div class="mb-3">
        <label for="nomeL">ID do Cliente:</label>
        <input type="text" class="form-control" id="id" placeholder="" name="id" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
>>>>>>> 2435520b8b82f2b22053827e4451ca826641ee40
      <div class="mb-3 mt-3">
        <label for="aqui">ID do Cliente:</label>
        <input type="text" class="form-control" id="aqui" name="aqui" value="<%= data.aqui %>" readonly>

      </div>
      <div class="mb-3">
        <label for="nomeL">Nome do Cliente:</label>
        <input type="text" class="form-control" id="nome" name="nome" value="<%= data.user.nome %>" disabled>
      </div>
      <div class="mb-3">
        <label for="nomeL">Nome do livro:</label>
        <select id="nomeL" name="nomeL">
          <option value="" disabled selected>Select a book</option>
          <% for (let i=0; i < data.books.length; i++) { %>
            <option value="<%= data.books[i].nome %>">
              <%= data.books[i].nome %>
            </option>
            <% } %>
        </select>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="mb-3">
        <label for="DnomeL">Data do aluguel do livro:</label>
        <input type="datetime-local" class="form-control" id="DnomeL" name="DnomeL" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <label for="DnomeL">Quantidade de dias/horas do aluguel:</label>
      <div class="form-check mb-3">
        <input type="radio" class="form-check-input" id="radio1" name="optradio" value="24 horas" required>
        <label class="form-check-label" for="radio1">24 horas</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="radio2" name="optradio" value="Até 3 dias" required>
        <label class="form-check-label" for="radio2">Até 3 dias</label>
      </div><br>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="radio2" name="optradio" value="Até 7 dias" required>
        <label class="form-check-label" for="radio2">Até 7 dias</label>
      </div><br><br>
      <div class="d-grid">
        <button type="submit" class="btn btn-dark btn-block">Enviar</button>
      </div>
  
    </form>
  </div>


  </div>
  <script>
    $('#form').on('submit', function (event) {
      var button = $(event.relatedTarget);
      let r_nome = button.data('nome');
      let r_id = button.data('id')

      let modal = $(this);
      modal.find('#nome').val(r_nome);
      modal.find('#id').val(r_id)
    })
  </script>
