<style>
  body {
    background-color: antiquewhite;
  }

  .row {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .col-md-3 button.btn-primary {
    background-color: rgb(104, 101, 6);
    border-color: rgb(104, 101, 6);
    color: white;
    margin-top: 10px;
    width: 100%;
  }

.img-fluid{
  width: 50%;
  margin-left:25% ;
}
.book-info {
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    flex: 1;
    padding: 0 10px;
  }

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
</style>

<%- include('header') %>
<div class="row">
  <div class="col-md-3">
    <form action="/antIndex" method="post">
      <input type="hidden" id="idlogado" name="idlogado" value="<%= data.user.id%>">
      <input type="hidden" id="nomelogado" name="nomelogado" value="data.user.person.nome">
      <button type="submit" id="botao" class="btn btn-primary">Cadastrar</button>
    </form>
  </div>

  <div class="col-md-3">
    <form action="/index" method="post">
      <input type="hidden" id="idlogado" name="idlogado" value="<%= data.user.id%>">
      <input type="hidden" id="nomelogado" name="nomelogado" value="data.user.person.nome">
      <button type="submit" id="botao" class="btn btn-primary">Alugar</button>
    </form>
  </div>

  <div class="col-md-3">
    <form action="/user" method="post">
      <input type="hidden" id="idlogado" name="idlogado" value="<%= data.user.id%>">
      <button type="submit" id="botao" class="btn btn-primary">Perfil</button>
    </form>
  </div>
</div>
<br><br>
<h1 style="text-align: center; color: rgb(82, 82, 0);">Livros Disponíveis</h1><br>
<div class="container mt-3">
  <div class="row">
    <% for (let i=0; i < data.books.length; i++) { %>
      <div class="col-md-4 mb-4 b">
        <img src="<%= data.books[i].imagemUrl %>" class="img-fluid book-image" alt="Imagem <%= i + 1 %>">
        <p class="book-info">
          <%= data.books[i].nome %>-<br> Valor: R$ <%= data.books[i].valor %>
        </p>
      </div>
    <% } %>
  </div>
</div>
<main>
</main>
<!-- <%- include('footer') %> -->
