<style>
  body {
    background-color: antiquewhite;
  }

  .row {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .col-md-3 button.btn-primary {
    background-color: rgb(104, 101, 6);
    border-color: rgb(104, 101, 6);
    color: white;
    margin-top: 10px;
    width: 100%;
  }

.img-fluid{
  width: 50%;
  margin-left:25% ;
}
.book-info {
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    flex: 1;
    padding: 0 10px;
  }

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
</style>

<%- include('header') %>
<<<<<<< HEAD
<div class="row">
  <div class="col-md-3">
    <form action="/antIndex" method="post">
      <input type="hidden" id="idlogado" name="idlogado" value="<%= data.user.id%>">
      <input type="hidden" id="nomelogado" name="nomelogado" value="data.user.person.nome">
      <button type="submit" id="botao" class="btn btn-primary">Cadastrar</button>
    </form>
  </div>

  <div class="col-md-3">
    <form action="/index" method="post">
      <input type="hidden" id="idlogado" name="idlogado" value="<%= data.user.id%>">
      <input type="hidden" id="nomelogado" name="nomelogado" value="data.user.person.nome">
      <button type="submit" id="botao" class="btn btn-primary">Alugar</button>
    </form>
  </div>

  <div class="col-md-3">
    <form action="/user" method="post">
      <input type="hidden" id="idlogado" name="idlogado" value="<%= data.user.id%>">
      <button type="submit" id="botao" class="btn btn-primary">Perfil</button>
    </form>
  </div>
</div>
<br><br>
<h1 style="text-align: center; color: rgb(82, 82, 0);">Livros Disponíveis</h1><br>
<div class="container mt-3">
  <div class="row">
    <% for (let i=0; i < data.books.length; i++) { %>
      <div class="col-md-4 mb-4 b">
        <img src="<%= data.books[i].imagemUrl %>" class="img-fluid book-image" alt="Imagem <%= i + 1 %>">
        <p class="book-info">
          <%= data.books[i].nome %>-<br> Valor: R$ <%= data.books[i].valor %>
        </p>
      </div>
    <% } %>
  </div>
</div>
<main>
</main>
<!-- <%- include('footer') %> -->
=======

  <br><br>
  
  <h1 style="text-align: center;">Livros Disponíveis</h1><br>
  <form action="/index" method="post">
  
<button type="submit" id="botao">Alugar</button>
</form>
  <main>
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-4 mb-4">
          <img src="img/A garota do lago.jpg" class="img-fluid" alt="Imagem 1" style="width: 50%;">
          <p style="color: brown; font-family: Georgia, 'Times New Roman', Times, serif;"> A garota do lago-<br> Valor: R$ 10.00</p>
        </div>
        <div class="col-md-4 mb-4">
          <img src="img/como eu era.jpg" class="img-fluid" alt="Imagem 2" style="width: 50%;">
          <p style="color: brown; font-family: Georgia, 'Times New Roman', Times, serif;"> Como eu era antes de você-<br> Valor: R$ 7.00</p>

        </div>
        <div class="col-md-4 mb-4">
          <img src="img/em busca.jpg" class="img-fluid" alt="Imagem 3" style="width: 50%;">
          <p style="color: brown; font-family: Georgia, 'Times New Roman', Times, serif;"> Em busca de nós mesmos-<br> Valor: R$ 15.00</p>

        </div>
        <div class="col-md-4 mb-4">
          <img src="img/Um Dia_livro.jpg" class="img-fluid" alt="Imagem 4" style="width: 50%;">
          <p style="color: brown; font-family: Georgia, 'Times New Roman', Times, serif;"> Um dia-<br> Valor: R$ 5.00</p>

        </div>
        <div class="col-md-4 mb-4">
          <img src="img/bailarina-de-auschwitz_.jpg" class="img-fluid" alt="Imagem 5" style="width: 50%;">
          <p style="color: brown; font-family: Georgia, 'Times New Roman', Times, serif;"> A bailarina de Auschwitz-<br> Valor: R$ 14.00</p>

        </div>
        <div class="col-md-4 mb-4">
          <img src="img/OIP.jpeg" class="img-fluid" alt="Imagem 6" style="width: 50%;">
          <p style="color: brown; font-family: Georgia, 'Times New Roman', Times, serif;"> A liberdade é uma escolha-<br> Valor: R$ 12.00</p>

        </div>
        <div class="col-md-4 mb-4">
          <img src="img/R.jpeg" class="img-fluid" alt="Imagem 7" style="width: 50%;">
          <p style="color: brown; font-family: Georgia, 'Times New Roman', Times, serif;"> O pequeno príncipe-<br> Valor: R$ 4.00</p>

        </div>
        <div class="col-md-4 mb-4">
          <img src="img/nietzsche.webp" class="img-fluid" alt="Imagem 8" style="width: 50%;">
          <p style="color: brown; font-family: Georgia, 'Times New Roman', Times, serif;"> Nietzsche para os estressados-<br> Valor: R$ 8.00</p>

        </div>
        <div class="col-md-4 mb-4">
          <img src="img/amor-es-verdadeiro-s-712x1024.jpg" class="img-fluid" alt="Imagem 9" style="width: 50%;">
          <p style="color: brown; font-family: Georgia, 'Times New Roman', Times, serif;"> Amores Verdadeiros-<br> Valor: R$ 10.00</p>

        </div>
        <div class="col-md-4 mb-4">
          <img src="img/treze.jpeg" class="img-fluid" alt="Imagem 10" style="width: 50%;">
          <p style="color: brown; font-family: Georgia, 'Times New Roman', Times, serif;"> Treze-<br> Valor: R$ 10.00</p>

        </div>
      </div>
    </div>
  </main>
<%- include('footer') %>
>>>>>>> 2435520b8b82f2b22053827e4451ca826641ee40
